{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% load static %}
    <form method="post" action="#">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    {% if form.errors %}
    <div class="errors">
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        {{ form.password.errors }}
    </div>
    {% endif %}

    <button type="button" class="btn btn-primary"><a href="{% url 'logout' %}">Logout</a></button>
</body>

</html>